body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

#logo {
  height: 30px;
  width: auto;
  border-radius: 20px;
  margin-left: 0;
}

#navbar {
  padding: 8px;
  margin: 0;
}

#banner {
  object-fit: cover;
  width: 100%;
}

h1 {
  text-align: center;
}

#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  width: 50%;
  padding-right: 8px;
}

#team {
  width: 50%;
}

#team-image {
  border-radius: 5px;
  width: 100%;
}

h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}

.apply {
  float: right;
}

#footer {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footerlinks {
  list-style: none;
  padding: 0;
}

#footerlinks li {
  display: inline;
  margin: 0 16px;
}

#jobs-table {
  width: 100%;
  border-collapse: collapse;
}

#jobs-table tr:nth-child(even) {
  background-color: rgb(218, 218, 255);
}

.jobs-header-row th {
  border: solid 1px black;
  padding: 8px;
  text-align: center;
  background-color: rgb(218, 218, 255);
}

.jobs-data-row td {
  border: solid 1px gray;
  padding: 8px;
}

#application {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

#application-form label {
  font-weight: 600;
}

#application-form input,
select,
textarea {
  padding: 10px;
  margin-top: 4px;
  border-radius: 6px;
}

#application-form div {
  margin: 16px;
}

.form-group textarea {
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

#submit {
  background-color: rgb(218, 218, 255);
  cursor: pointer;
}

/*

User Interface designers often create design mockups in 3-4 size depending on the available screen width:
1. Mobile (extrasmall) : < 576px
2. Tablet (small) : 576px - 768px
3. Desktop (medium) : 768px - 992px
4. (Optional) Large Desktop (large): > 992px

 */